body {
  margin-top: 60px;
}

.navbar-inverse {
  background-color: #1976D2;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #D1C4E9;
    color: #512DA8;
}

.navbar-inverse .navbar-nav>li>a {
  color: #D1C4E9;
}


div#graph-panel div.panel-body {
  min-height: 600px;
  text-align: center;
  position: relative;
  overflow: auto;
}





